body {
   background-color: darkgrey;
   color: black;
}

.container {
}

h1 {
   text-align: center;
}

img {
   width: 150px;
}

footer {
   text-align: center;
   font-style: bold;
}